*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.contenedorFlex{
    background-color:#a9a9a9;
    font-family: 'Outfit', sans-serif;
    color: black
}

.body__contenido{
    background-color: #5c5757;
    font-family: 'Outfit', sans-serif
}

.cardsPresentacion{
    align-content: space-around;
}
.card1Flex{
    font-family: 'Outfit', sans-serif;
    color: black;
    font-size: large;
    padding: 30%
    
}
.card2Flex{
    font-family: 'Outfit', sans-serif;
    color: black;
    font-size: large;
    padding: 30%;
   
    
}
